<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="utf-8" />
    <title><%= topicos[4] %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--

Template 2075 Digital Team

http://www.tooplate.com/view/2075-digital-team

-->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/et-line-font.css" />
    <link rel="stylesheet" href="css/nivo-lightbox.css" />
    <link rel="stylesheet" href="css/nivo_themes/default/default.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,300,500"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    <!-- preloader section -->
    <div class="preloader">
      <div class="sk-spinner sk-spinner-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </div>

    <!-- navigation section -->
    <section class="navbar navbar-fixed-top custom-navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse"
          >
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Mi Portafolio</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <% for (let i = 0; i < topicos.length-1; i++) { %>
            <li>
              <a
                href="#<%= i === 0 ? 'home' : i === 1 ? 'work' : i === 2 ? 'portfolio' : 'contact' %>"
                class="navbar-brand"
                ><%= topicos[i] %></a
              >
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </section>

    <!-- home section -->
    <section id="home">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h3><%= grados[0] %> | <%= grados[1] %> | <%= grados[2] %></h3>
            <h1><%= topicos[4] %></h1>
            <hr />
            <a href="#work" class="smoothScroll btn btn-danger"
              ><%= topicos[1] %></a
            >
            <a href="#contact" class="smoothScroll btn btn-default"
              ><%= topicos[3] %></a
            >
          </div>
        </div>
      </div>
    </section>

    <!-- work section -->
    <section id="work">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="section-title">
              <strong>01</strong>
              <h1 class="heading bold"><%= topicos[1] %></h1>
              <hr />
            </div>
          </div>

          <% for (let i = 0; i < texto.length; i++) { %>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
              <img src=<%= imagenes[i] %> width=<%= (i === 1 || i === 3 || i === 7) ? "100" : "50" %> height="50" />
              <h3><%= habilidades[i] %></h3>
              <hr />
              <p>
                <%= texto[i] %>
              </p>
            </div>
          <% } %>

        </div>
      </div>
    </section>

    <!-- portfolio section -->
    <div id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="section-title">
              <strong>02</strong>
              <h1 class="heading bold"><%= topicos[2] %></h1>
              <hr />
            </div>
            <!-- ISO section -->
            <div class="iso-section">
              <ul class="filter-wrapper clearfix">
                <li>
                  <a href="#" data-filter="*" class="selected opc-main-bg"
                    >All</a
                  >
                </li>
                <li>
                  <a href="#" class="opc-main-bg" data-filter=".html">HTML</a>
                </li>
                <li>
                  <a href="#" class="opc-main-bg" data-filter=".photoshop"
                    >Vue</a
                  >
                </li>
                <li>
                  <a href="#" class="opc-main-bg" data-filter=".wordpress"
                    >React</a
                  >
                </li>
                <li>
                  <a href="#" class="opc-main-bg" data-filter=".mobile"
                    >Django</a
                  >
                </li>
              </ul>
              <div class="iso-box-section wow fadeIn" data-wow-delay="0.9s">
                <div class="iso-box-wrapper col4-iso-box">

                  <% for (let i = 1; i <= 6; i++) { %>

                    <div
                      class="iso-box html wordpress mobile col-lg-4 col-md-4 col-sm-6"
                    >
                      <a
                        href="images/portfolio-img<%= i %>.jpg"
                        data-lightbox-gallery="portfolio-gallery"
                        ><img src="images/portfolio-img<%= i %>.jpg" alt="portfolio img"
                      /></a>
                    </div>
                    
                  <% } %>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- contact section -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
            <div class="section-title">
              <strong>03</strong>
              <h1 class="heading bold"><%= topicos[3] %></h1>
              <hr />
            </div>
          </div>
          <div class="col-md-6 col-sm-12 contact-info">
            <h2 class="heading bold">LLENE SUS DATOS</h2>
            <p>
              ¡Hola! Nos encantaría saber de ti. Por favor, no dudes en ponerte
              en contacto con nosotros si tienes alguna pregunta, sugerencia o
              simplemente quieres decir "hola". Estamos aquí para ayudarte y
              haremos todo lo posible para responderte lo antes posible.
              ¡Gracias por visitarnos!
            </p>
            <div class="col-md-6 col-sm-4">
              <h3>
                <i
                  class="icon-envelope medium-icon wow bounceIn"
                  data-wow-delay="0.6s"
                ></i>
                EMAIL
              </h3>
              <p>eduardo.hinojosa@tecsup.edu.pe</p>
            </div>
            <div class="col-md-6 col-sm-4">
              <h3>
                <i
                  class="icon-phone medium-icon wow bounceIn"
                  data-wow-delay="0.6s"
                ></i>
                PHONES
              </h3>
              <p>010-020-0340 | 090-080-0760</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <form
              action="#"
              method="get"
              class="wow fadeInUp"
              data-wow-delay="0.6s"
            >
              <div class="col-md-6 col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre"
                  name="name"
                />
              </div>
              <div class="col-md-6 col-sm-6">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  name="email"
                />
              </div>
              <div class="col-md-12 col-sm-12">
                <textarea
                  class="form-control"
                  placeholder="Mensaje"
                  rows="7"
                  name="message"
                ></textarea>
              </div>
              <div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
                <input
                  type="submit"
                  class="form-control"
                  value="Enviar mensaje"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- footer section -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <hr />
            <ul class="social-icon">
              <li>
                <a
                  href="#"
                  class="fa fa-facebook wow fadeIn"
                  data-wow-delay="0.3s"
                ></a>
              </li>
              <li>
                <a
                  href="#"
                  class="fa fa-twitter wow fadeIn"
                  data-wow-delay="0.6s"
                ></a>
              </li>
              <li>
                <a
                  href="#"
                  class="fa fa-dribbble wow fadeIn"
                  data-wow-delay="0.9s"
                ></a>
              </li>
              <li>
                <a
                  href="#"
                  class="fa fa-behance wow fadeIn"
                  data-wow-delay="0.9s"
                ></a>
              </li>
              <li>
                <a
                  href="#"
                  class="fa fa-tumblr wow fadeIn"
                  data-wow-delay="0.9s"
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/isotope.js"></script>
    <script src="js/imagesloaded.min.js"></script>
    <script src="js/nivo-lightbox.min.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
